@charset "utf-8";
/* CSS Document */
@page{
	size:800px 980px;
}


html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote, article, header, footer, main, nav, p, table, script, video,iframe{
padding: 0px;
margin: 0px;
font-size: 100%;
font-weight: normal;
}

h1 {
	font-size: 60px;
	margin: 10px;
	font-family:sans-serif;
	font-style:normal;
	text-align: center;
	padding: 10px;
}

h2 {
	padding-left: 20px;
	color: #9B9596;
}

header {
	align-content: flex-end;
}

nav {
	list-style-type: none;
  	margin: 10px 2px 10px 0px;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
	text-align:center;
	font: size 32px;
	line-height:20px;
	}
nav li{
	float: center;
}

script{
	font-size: 32px;
}
nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}

footer {
	color: #AFAFAF;
	background-color: antiquewhite
}

.center {
	margin-left: auto;
	margin-right: auto;
	float:inherit;
}

.headimg {
	float: inherit;
	
}
.tableimg {
	float: left;
	clear:left;
	clear: none;
	padding:25px;
	margin: auto;
	
}
.tablename {
	text-align: center;
	clear: none;
	padding:25px;
	padding-left: auto;
	padding-right: auto;
	margin: auto;
	
}

tbody{
	border: 1px solid black;
	border-collapse:collapse;
	margin: auto;
	border-style: groove
	padding-left: auto;
	padding-right: auto;
	margin: auto;
}

table,th, td
{
    border: 1px solid black;
	border-style: groove;
	font-size: 40px;
	padding-left: auto;
	padding-right: auto;
	margin: auto;
}

.refer {
	padding: 0px;
	font-style: italic;
}
.videoref {
	font-style: italic;
}
.indexvideo {
	width: 400px;
	height: auto;
}
.curr {
	background-color: #04AA6D;
}

.table320 {
width:80%;
text-align:center;
background-color:#999999;
border-spacing:2px;
padding:3px;
margin:3px auto;

padding-left: auto;
padding-right: auto;
margin: auto;
}
.table320 th {
width:40%;
font-weight: normal;
text-align: right;
padding-right: 20px;
padding-left: 40px;
background-color:#E8E8E8;
font-size:14px;
margin: auto;
}
.table320 td {
width:60%;
font-weight: normal;
text-align: left;
padding-left: 10px;
background-color: #E0E0E0;
margin: auto;
}
.table320 td label {white-space:nowrap;}

li{
	padding-top: 50px;
	font-size: 24px;
	font-family:Arial, Helvetica, sans-serif;
	color: #c71818;
	text-align: center;
	margin: auto;
}

img {
   
    width:  750px;
    height: 500px;	
	display: block;
	margin-left: auto;
	margin-right: auto;

}
p {
	padding-left: 300px;
	padding-right: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	font-size: 24px;
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;

}

h2{
	font-size: 32px;
	font-family:Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	padding-top: 50px;

}
h3{
	font-size: 24px;
	text-align: center;
	padding-top: 50px;
}
video{
	width: 750px;
	height: 500px;
	display:block;
	padding-left: auto;
	padding-right: auto;
	margin:auto
}
iframe{
	width: 750px;
	height: 500px;
	display:block;
	padding-left: auto;
	padding-right: auto;
	margin: auto;
}